<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de productos
    </ion-title>
    <ion-avatar slot="end">
        <ion-badge class ="cantidadCarrito" color="primary" mode="md">{{carrito.length}}</ion-badge>
        <ion-img class = "img" src="../../assets/carrito.png"></ion-img>    
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item *ngFor="let prod of productos" [routerLink]="['/home',prod.id]">
    <ion-label>{{prod.nombre}}</ion-label>
    <ion-avatar slot="start">
      <img [src]="prod.imagen"/>
    </ion-avatar>
    <ion-label color ="danger">{{prod.precio}} </ion-label>
    <ion-label *ngIf="prod.stock>0" color="primary"> CON STOCK</ion-label>
    <ion-label *ngIf="prod.stock==0" color ="danger">SIN STOCK</ion-label>
  </ion-item>  
  </ion-list>
</ion-content>
